@use '../../../../styles.scss' as style;

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  height: 400px;

  .title {
    color: style.$dark-blue;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
  }

  .desc {
    font-style: italic;
    font-size: 14px;
  }
}

.list-content-open {
  animation: open-list 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes open-list {
  0% {
    transform: translateY(-500px) scaleY(1);
    transform-origin: top;
    opacity: 0;
    transform: rotateX(90deg);
  }

  100% {
    transform: translateY(0) scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}