@use '../../../../../styles.scss' as styles;

.empty-state-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  height: 400px;

  .title {
    color: styles.$dark-blue;
    font-weight: bold;
    font-style: italic;
    font-size: styles.$lg;
  }

}

.button {
  color: styles.$dark-blue;
}

.table-wrapper {
  overflow-x: auto;
}

.list-content-closed {
  animation: close-list 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.list-content-open {
  animation: open-list 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes open-list {
  0% {
    transform: translateY(-500px) scaleY(1);
    transform-origin: top;
    opacity: 0;
    transform: rotateX(90deg);
  }

  100% {
    transform: translateY(0) scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}