@use '../styles.scss' as styles;

main {
  display: flex;
  justify-self: center;
  max-width: 1024px;
  width: 100%;

  .content {
    width: 100%;

    .main-card {
      margin: styles.$md;
    }
  }

  .header {
    width: 100%;
  }
}