@use '../../../../styles.scss' as styles;

.form {
  display: flex;
  justify-content: center;
  gap: styles.$md;
  width: 100%;
  align-items: center;

  .input {
    max-width: 500px;
    width: 100%;
  }

  .button {
    color: styles.$dark-blue;
    margin-bottom: styles.$md;
  }
}