<form [formGroup]="searchForm" class="form" (ngSubmit)="search()">
  @if(error()){
  <mat-error>
    Cep inválido
  </mat-error>
  }
  <div class="input-wrapper">
    <mat-form-field class="input" appearance="outline">
      <input matInput placeholder="Busca por CEP:" inputmode="numeric" formControlName="cep" cepMask
        (input)="removeError()">
    </mat-form-field>
    <button class="button" matButton="outlined" [disabled]="loading() || searchForm.invalid || error()">Buscar</button>
  </div>
</form>