@use '../../../../../styles.scss' as styles;

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: styles.$md;
    width: 100%;

    .input {
      max-width: 500px;
      width: 100%;
    }
  }

  .button {
    color: styles.$dark-blue;
    margin-bottom: styles.$md;
  }
}